.poke-header {
  position: relative;
  padding: 42px 40px 0;
}

.poke-header-bg {
  position: absolute;
  top: -207px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.poke-header-title {
  margin: 10px 0;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: var(--color-secondary);
}

.poke-header-description {
  margin: 10px 0;
  font-size: 16px ;
  line-height: 19px;
  font-weight: 400;
  color: var(--color-primary);
}

.poke-header-bg-item {
  width: 414px;
  height: 414px;
  fill: #f6f6f6;
}